# map

In [1]:
nums = [2, 4, 6, 8, 10]

In [2]:
doubles = map(lambda x: x * 2 ,nums)

In [5]:
print(*doubles)

4 8 12 16 20

In [6]:
list(doubles)

[]

In [7]:
people = ['Darc', 'Orc', 'Charc']

In [8]:
peeps = map(lambda name: name.upper(), people)

In [9]:
list(peeps)

['DARC', 'ORC', 'CHARC']

In [10]:
names = [
    {'first' : 'Hey', 'last' : 'fity'},
    {'first' : 'dey', 'last' : 'kity'},
    {'first' : 'Key', 'last' : 'lity'},
    ]

In [11]:
first_name = list(map(lambda x: x['first'] ,names))

In [12]:
first_name

['Hey', 'dey', 'Key']

In [15]:

def doubles(x) : return x * 2

d = list(map(doubles, nums))
print(d)

[4, 8, 12, 16, 20]

# filter

In [18]:
l = [1, 2, 3, 4]

evens = list(filter(lambda x : x % 2 ==0, l))

In [19]:
evens

[2, 4]

In [24]:
names = ['aut', 'mus', 'aus', 'ats']

In [25]:
a_names = filter(lambda n: n[0] =='a', names)

In [26]:
print(*a_names)

aut aus ats

In [27]:
users = [

 {'username': 'jek', 'tweets' : ['I tweets cake','I cheeks']},
  {'username': 'jek', 'tweets' : ['I feeks']},
   {'username': 'jek', 'tweets' : []},
    {'username': 'jek', 'tweets' : []}

]

In [28]:
inactive_users = list(filter(lambda u: not u['tweets'], users))

In [29]:
inactive_users

[{'username': 'jek', 'tweets': []}, {'username': 'jek', 'tweets': []}]

In [30]:
inactive_users2 = [user for user in users if not user['tweets']]

In [31]:
inactive_users2

[{'username': 'jek', 'tweets': []}, {'username': 'jek', 'tweets': []}]

In [33]:
inactive_users3 = [user['username'].upper() for user in users if not user['tweets']]

In [34]:
inactive_users3

['JEK', 'JEK']

# all, any

In [38]:
nums = [2, 4, 5, 6, 10]

In [41]:
names = ['Cart', 'Curt', 'Kart']

In [42]:
all([name[0] == 'C' for name in names])

False

In [47]:
all([num % 2 == 0 for num in nums])

False

In [48]:
any([num % 2 == 1 for num in nums])

True

In [49]:
any([num % 2 == 2 for num in nums])

False

In [50]:
any([0, 1, ''])

True

# sorted

In [51]:
nums = [4, 5, 6, 1, 9, 11]

nums.sort()

In [52]:
nums

[1, 4, 5, 6, 9, 11]

In [53]:
nums1 = [4, 5, 6, 1, 9, 12]

In [54]:
sorted(nums1)

[1, 4, 5, 6, 9, 12]

In [55]:
nums1

[4, 5, 6, 1, 9, 12]