# List Comprehension

In [1]:
list_example = ['adda', 'sadda', 'kadda']

In [2]:
upper_list = []

for i in list_example:
    x = i.upper()
    upper_list.append(x)

In [3]:
upper_list

['ADDA', 'SADDA', 'KADDA']

In [4]:
[i.upper() for i in list_example]

['ADDA', 'SADDA', 'KADDA']

In [5]:
upper_list2 = [i.upper() for i in list_example]

In [6]:
print(upper_list2)

['ADDA', 'SADDA', 'KADDA']

In [2]:
num = [1, 2, 3, 4]
print(*num)

1 2 3 4

In [3]:
[bool(val) for val in [0, [], '']]

[False, False, False]

In [4]:
[str(n) for n in num]

['1', '2', '3', '4']

In [6]:
evens = [even for even in num if even%2 == 0]

print(evens)

[2, 4]

In [10]:
n = [nums*2 if nums%2 == 0 else nums/2 for nums in num]

print(*n)

0.5 4 1.5 8

In [11]:
''.join(['cool', 'hah'])

'coolhah'

In [16]:
with_vowels ='This is so much fun!'

In [17]:
c = [char for char in with_vowels]

In [18]:
print(c)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 'o', ' ', 'm', 'u', 'c', 'h', ' ', 'f', 'u', 'n', '!']

In [19]:
ch = [char for char in with_vowels if char not in 'aeiou']

In [20]:
ch

['T', 'h', 's', ' ', 's', ' ', 's', ' ', 'm', 'c', 'h', ' ', 'f', 'n', '!']

In [21]:
''.join(ch)

'Ths s s mch fn!'

In [24]:
n = [num*2 if num < 5 else num/2 for num in range(0, 20)]

In [26]:
print(*n, end='')

0 2 4 6 8 2.5 3.0 3.5 4.0 4.5 5.0 5.5 6.0 6.5 7.0 7.5 8.0 8.5 9.0 9.5

In [31]:
coords = [[10, 2],[3, 5], [6, 7]] 
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
for i, j in coords:
    print(i, j)

10 2
3 5
6 7

In [38]:
[[print(val) for val in i] for i in nested_list]

1
2
3
4
5
6
7
8
9

[[None, None, None], [None, None, None], [None, None, None]]

In [56]:
board = [[num for num in range(1, 4)] for val in range(1, 4)]

In [57]:
print(board)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [77]:
li = []
b = []
for i in range(1, 4):
    li.append(i)

for j in range(1, 4):
    b.append(li)


print(b)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [79]:
[['X' if num %2 != 0 else 'O' for num in range(1, 4)] for val in range(1, 4)]

[['X', 'O', 'X'], ['X', 'O', 'X'], ['X', 'O', 'X']]

In [80]:
['*' for i in range(5, 9)]

['*', '*', '*', '*']

In [81]:
[['*'] for i in range(5, 8)]

[['*'], ['*'], ['*']]

In [82]:
[['*' for x in [1, 2, 3]] for i in range(5, 8)]

[['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*']]

In [83]:
[['*' for x in range(1, 4)] for i in range(1, 4)]

[['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*']]