In [1]:
fruits = ["apple", "banana", "cherry"] 
x, y, z = fruits 
print(x) 
print(y) 
print(z)

apple
banana
cherry

In [2]:
x = 1
c = complex(x)

In [3]:
z = 1j

y = int(z)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [4]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [5]:
import random

r = random.randrange(1, 10)
print(r)

7

In [7]:
a = "Hello, World!" 
l = len(a)
print(l)

13

In [8]:
txt = "The best things in life are free!" 
print("free" in txt)

True

In [10]:
if "expensive" not in txt: 
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [2]:
b = "Hello, World!" 
print(b[2:5])
print(b[2:])

llo
llo, World!

In [3]:
print(b[-5:-2])

orl

In [4]:
b.upper()

'HELLO, WORLD!'

In [5]:
a = " Hello, World! " 
print(a.strip())

Hello, World!

In [6]:
a = "Hello, World!" 
print(a.replace("H", "J"))

Jello, World!

In [7]:
a.split(",")

['Hello', ' World!']

In [8]:
a = 'hello world'
print(a.capitalize())

Hello world

In [11]:
print(a.center(10))

hello world

In [15]:
txt = "HeHel"

x = txt.count("H")
y = txt.find('H')
print(y)
print(x)

0
2

In [18]:
x = txt.index('e')
print(x)

1

In [19]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [20]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [21]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [22]:
x = "Hello" 
y = 15 
print(bool(x)) 
print(bool(y))

True
True

In [23]:
z = ''
print(bool(z))

False

In [24]:
bool(False) 
bool(None)
bool(0) 
bool("") 
bool(()) 
bool([]) 
bool({})

False

In [25]:
def myFunction() : 
    return True 
    
if myFunction(): 
    print("YES!") 
else: 
    print("NO!")

YES!

In [26]:
thislist = ["apple", "banana", "cherry"] 
print(thislist[-1])

cherry

In [27]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] 
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"] 
thislist[1:3] = ["blackcurrant", "watermelon"] 
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [29]:
thislist = ["apple", "banana", "cherry"] 
tropical = ["mango", "pineapple", "papaya"] 
thislist.extend(tropical) 
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [30]:
thislist = ["apple", "banana", "cherry"] 
thislist.pop() 
print(thislist)

['apple', 'banana']

In [2]:
mytuple = ("apple", "banana", "cherry") 
print(type(mytuple))

<class 'tuple'>

In [1]:
thistuple = ("apple", "banana", "cherry") 
for i in range(len(thistuple)): 
    print(thistuple[i])

apple
banana
cherry

In [3]:
i = 0 
while i < len(thistuple): 
    print(thistuple[i]) 
    i = i + 1

apple
banana
cherry

In [4]:
fruits = ("apple", "banana", "cherry") 
mytuple = fruits * 2 
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [8]:
print(mytuple.count('apple'))

2

In [9]:
print(mytuple.index('apple'))

0

In [10]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange") 
print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

In [11]:
thisset = {"apple", "banana", "cherry"} 
tropical = {"pineapple", "mango", "papaya"} 
thisset.update(tropical) 
print(thisset)

{'papaya', 'mango', 'apple', 'pineapple', 'cherry', 'banana'}

In [12]:
thisset = {"apple", "banana", "cherry"} 
thisset.remove("banana") 
print(thisset)

{'cherry', 'apple'}

In [13]:
thisset = {"apple", "banana", "cherry"} 
thisset.remove("ban") 
print(thisset)

KeyError: 'ban'

In [14]:
thisset = {"apple", "banana", "cherry"} 
thisset.discard("banana") 
print(thisset)

{'cherry', 'apple'}

In [15]:
thisset = {"apple", "banana", "cherry"} 
thisset.discard("bana") 
print(thisset)

{'cherry', 'banana', 'apple'}

In [16]:
thisset = {"apple", "banana", "cherry"} 
x = thisset.pop() 
print(x) 
print(thisset)

cherry
{'banana', 'apple'}

In [17]:
set1 = {"a", "b" , "c"} 
set2 = {1, 2, 3} 
set3 = set1.union(set2) 
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [18]:
set1.update(set2) 
print(set1)

{'a', 1, 2, 3, 'c', 'b'}

In [20]:
x = {"apple", "banana", "cherry"} 
y = {"google", "microsoft", "apple"} 
x.intersection_update(y) 
print(x)

{'apple'}

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"} 
z = x.intersection(y) 
print(z)

{'apple'}

In [22]:
x = {"apple", "banana", "cherry"} 
y = {"google", "microsoft", "apple"} 
x.symmetric_difference_update(y) 
print(x)

{'microsoft', 'google', 'cherry', 'banana'}

In [ ]:
thisdict = { "brand": "Ford", "model": "Mustang", "year": 1964 } 
print(thisdict["brand"])

Ford

In [24]:
thisdict = { "brand": "Ford", "model": "Mustang", "year": 1964, "year": 2020 } 
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [25]:
thisdict = dict(name = "John", age = 36, country = "Norway") 
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [26]:
print(thisdict.get('country'))

Norway

In [28]:
x = thisdict.keys()
print(x)

dict_keys(['name', 'age', 'country'])

In [30]:
x = thisdict.values()
print(x)

dict_values(['John', 36, 'Norway'])

In [31]:
x = thisdict.items()
print(x)

dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')])

In [32]:
for x in thisdict:
     print(x)

name
age
country

In [33]:
for x in thisdict: 
    print(thisdict[x])

John
36
Norway

In [34]:
for x in thisdict.values(): 
    print(x)

John
36
Norway

In [35]:
for x in thisdict.keys(): 
    print(x)

name
age
country

In [36]:
for x, y in thisdict.items(): 
    print(x, y)

name John
age 36
country Norway

In [37]:
i = 1 
while i < 6: 
    print(i) 
    i += 1 
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [38]:
i = 1 

while i < 6: 
    print(i) 
    i += 1

1
2
3
4
5

In [39]:
fruits = ["apple", "banana", "cherry"] 
for x in fruits: 
    print(x)

apple
banana
cherry

In [40]:
for x in range(6): 
    print(x)

0
1
2
3
4
5

In [41]:
for x in range(2, 6): 
    print(x)

2
3
4
5

In [42]:
for x in range(2, 6, 2): print(x)

2
4

In [43]:
for x in range(6): 
    print(x) 
else: 
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [44]:
for x in range(2):
    for y in range(1): 
        print(x, y)

0 0
1 0

In [45]:
def my_function(): 
    print("Hello from a function")

In [46]:
my_function()

Hello from a function

In [47]:
def my_function(*kids):
    print(kids) 
    print("The youngest child is " + kids[2]) 


my_function("Emil", "Tobias", "Linus")

('Emil', 'Tobias', 'Linus')
The youngest child is Linus

In [48]:
def my(a, b):
    print(a, b)

my( b = 2, a = 3)

3 2

In [50]:
def my_function(**kid): 
    print("His last name is " + kid["lname"])
    print(kid) 

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes
{'fname': 'Tobias', 'lname': 'Refsnes'}

In [51]:
def tri_recursion(k): 
    if(k > 0): 
        result = k + tri_recursion(k - 1) 
        print(result) 
    else: 
        result = 0 
    return result 
    
print("\n\nRecursion Example Results") 
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21