# Set

In [15]:
num_set = {1, 2, 4, 5}

In [1]:
list_exaple = [10, 'data', 7.8, False]

In [2]:
set_example = set(list_exaple)

In [3]:
print(set_example)

{'data', False, 10, 7.8}

In [4]:
type(set_example)

set

In [5]:
tuple_exaple = (20, 'data science', 20, 9.5, 'data science')

In [6]:
print(tuple_exaple)

(20, 'data science', 20, 9.5, 'data science')

In [7]:
set_example2 = set(tuple_exaple)

In [8]:
print(set_example2, type(set_example2), sep="\n")

{9.5, 20, 'data science'}
<class 'set'>

In [9]:
word = "hello data science"

In [10]:
set_example3 = set(word)

In [11]:
set_example3

{' ', 'a', 'c', 'd', 'e', 'h', 'i', 'l', 'n', 'o', 's', 't'}

In [12]:
print(set_example3[0])

TypeError: 'set' object is not subscriptable

In [13]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [16]:
num_set

{1, 2, 4, 5}

In [17]:
num_set.add(6)

In [18]:
num_set

{1, 2, 4, 5, 6}

In [19]:
num_set.remove(2)

In [20]:
num_set

{1, 4, 5, 6}

In [21]:
set1 = {1, 5, 6, 7, 8, 3, 12}
set2 = {1, 5, 6, 8, 23, 11}

In [22]:
set1.difference(set2)

{3, 7, 12}

In [24]:
set1 - set2

{3, 7, 12}

In [26]:
set1.symmetric_difference(set2)

{1, 3, 5, 6, 7, 8, 12}

In [27]:
set2.symmetric_difference(set1)

{1, 3, 5, 6, 7, 8, 12}

In [28]:
set1.intersection(set2)

{11, 23}

In [29]:
set1 & set2

{11, 23}

In [31]:
set1.union(set2)

{1, 3, 5, 6, 7, 8, 11, 12, 23}

In [32]:
set1 | set2

{1, 3, 5, 6, 7, 8, 11, 12, 23}